.primary-button {
  background-color: $color-red;
  color: $color-white;
  padding: 16px 24px;
  border-radius: 4px;
  font-weight: 500;
  transition: $transition;
  margin: $space-large 0 12px;

  &:hover {
    background-color: #c11119;
  }
}
