/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;

  .container {
    padding: $space-medium;
  }

  // main {
  //   min-height: calc(100vh - 270px);
  // }
}

@media (min-width: $media-tablet) {
}

@media (min-width: $media-desktop) {
  // html {
  //   .container {
  //     max-width: 960px;
  //     margin: 0 auto;
  //   }
  // }
}
