h1 {
  font-size: 32px;
  font-weight: 500;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 24px;
}

p {
  font-size: 16px;
}

// @media (min-width: $media-desktop) {
//   h1 {
//     font-size: 80px;
//   }

//   h2 {
//     font-size: 64px;
//   }

//   h3 {
//     font-size: 48px;
//   }

//   p {
//     font-size: 16px;
//   }
// }
