/* Colors */
$color-red: #e50914;
$color-light-red: #eb3942;
$color-orange: #e87c03;
$color-gray: #8c8c8c;
$color-dark-gray: #333333;
$color-baby-blue: #c9e3ef;
$color-white: #ffffff;

/* Space */
$space-small: 8px;
$space-medium: 16px;
$space-large: 24px;
$space-x-large: 32px;

/* Other */
// $transition: 0.3s ease-in-out;
// $box-shadow: 0 4px 10px rgb(0 0 0 / 25%);
// $text-shadow: 0 4px 4px rgb(0 0 0 / 25%);

/* Media queries */
// $media-big-phones: 550px;
$media-tablet: 740px;
$media-desktop: 1280px;
