.episodes-list {
  .episode-item {
    border-bottom: 1px solid #404040;
    padding: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 4px;

    &:first-of-type {
      border-top: 1px solid #404040;
    }
    &:last-of-type {
      border-bottom: 0;
    }

    &.current {
      background-color: #333;
    }

    .number {
      color: #d2d2d2;
      display: flex;
      flex: 0 0 7%;
      font-size: 1.5em;
      justify-content: center;
    }

    .image {
      width: 30%;
      height: 100%;
      position: relative;
      min-width: 46px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      .play-episode {
        position: absolute;
        left: calc(50% - 23px);
        top: calc(50% - 23px);
        width: 46px;
        height: 46px;
        border-radius: 50%;
        border: 1px solid $color-white;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: all 0.4s;

        svg {
          color: $color-white;
          font-size: 30px;
        }
      }
    }

    &:hover {
      .play-episode {
        opacity: 1;
      }
    }

    .content {
      width: 60%;

      .episode-title {
        font-size: 16px;
        font-weight: 500;
        text-transform: capitalize;
        margin-bottom: 10px;
      }
      .episode-description {
        font-size: 14px;
        margin-top: 10px;
      }
    }
  }
}
