.basic-header {
  height: 45px;
  display: flex;
  align-items: center;
  padding: 0 3%;

  .logo {
    img {
      height: 25px;
    }
  }
}

.main-header {
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.7) 10%,
    transparent
  );
  transition: background-color 0.4s;
  display: flex;
  height: 42px;
  align-items: center;
  justify-content: space-between;
  padding: 0 4%;
  position: sticky;
  top: 0;
  z-index: 1;

  .logo {
    img {
      height: 20px;
      width: auto;
    }
  }
  .secondary-nav {
    display: flex;
    gap: 10px;
  }

  &.black-background {
    background: $color-black;
  }

  .user-menu {
    position: relative;
    cursor: pointer;

    &:hover {
      & > ul {
        opacity: 1;
      }
    }

    ul {
      opacity: 0;
      position: absolute;
      top: 40px;
      right: 0;
      background-color: rgba(0, 0, 0, 0.9);
      color: white;
      padding: 20px 30px;
      width: 200px;
      text-align: center;

      li {
        a {
          text-decoration: none;
          color: $color-white;
        }
      }
    }
  }
}

@media (min-width: $media-big-phones) {
  .basic-header {
    height: 75px;

    .logo {
      img {
        height: 55px;
      }
    }
  }
}

@media (min-width: $media-tablet) {
  .basic-header {
    height: 90px;
  }

  .main-header {
    height: 70px;
    .logo {
      img {
        height: 30px;
      }
    }
  }
}
