#recover-password {
  background-color: #f3f3f3;
  min-height: 100vh;

  .recover-password-form {
    // border-top: 1px solid #e6e6e6;
    background-color: #f3f3f3;
    max-width: 440px;
    margin: 0 auto;
  }

  .container {
    padding: 40px;
  }

  h1 {
    color: $color-dark-gray;
    margin-bottom: 20px;
  }

  p {
    font-size: 18px;
    margin-bottom: 20px;
    color: $color-dark-gray;
  }

  .primary-button {
    background-color: #0080ff;
  }

  .basic-header {
    a {
      color: $color-red;
    }
  }
}

@media (min-width: $media-tablet) {
  #recover-password {
    background: url("../../images/recover-pw-background.jpg") no-repeat;
    background-size: cover;
    position: relative;
    z-index: 0;

    &::before {
      content: "";
      width: 100%;
      height: 100%;
      background: #000;
      position: absolute;
      opacity: 0.5;
      z-index: -1;
      display: block;
    }

    .login-form {
      max-width: 450px;
      background-color: rgba(0, 0, 0, 0.8);
      min-height: 660px;
    }

    .basic-header {
      border-bottom: 0;
    }

    .recover-password-form {
      margin-top: 60px;
    }
  }
}
